/* SignupPage.css */
.signup-page { padding: 20px; 
    padding: 20px;
    width: 60vw;
    height: 60vh;
    background-color: yellow;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


input {    
    width: 70%;
    height: 7%;
    border-radius: 10px;
    padding: 17px;
    margin: 16px;
}

button {
    width: 290px;
    padding: 16px;
    border-radius: 70px;
}

p {
    width: 270px;
    background-color: aliceblue;
    font-size: 18px;
    padding: 7px;
    border-radius: 14px;
}

}
